warnings-plugin==0.0.2
pandas==1.4.3
numpy==1.23.1
fbprophet==0.7.1
prophet==1.0.1
flask==2.2.2
template-render==0.1.0
request2==0.2
flask.helpers==0.1
flash==1.0.3
plotly==5.9.0
flask_socketio==5.2.0
SocketIO==0.2.1
datetime==4.5
timedelta==2020.12.3
tempfile2==0.1.1
matplotlib==3.5.2
seaborn==0.11.2
warnings-plugin==0.0.2
statistics==1.0.3.5
sklearn==0.0
PCA==1.8.2
StandardScaler==0.5
preprocessing==0.1.13
metrics==0.3.3
scipy==1.9.0
pearsonr==0.1.0
tqdm==4.64.0
DateTime==4.5
